<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" th:href="@{/styleAddTask.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Edit Task</h1>

    <form th:action="@{'/taskTemplate/saveTask'}" method="post" th:object="${taskEntity}" class="form">
        <input type="hidden" th:field="*{taskId}" />

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" th:field="*{taskTitle}" placeholder="Task title" required/>
        </div>

        <div class="form-group">
            <label for="desc">Description</label>
            <textarea th:field="*{taskDescription}" placeholder="Describe the task" required></textarea>
        </div>

        <div class="form-group">
            <label for="responsible">Responsible</label>
            <input type="text" th:field="*{taskResponsible}" placeholder="Responsible person" required/>
        </div>

        <div class="form-group">
            <label for="status">Status</label>
            <select th:field="*{taskStatus}">
                <option th:each="status: ${taskStatus}" th:value="${taskStatus}" th:text="${taskStatus}">TO_DO</option>
            </select>
        </div>

        <div class="form-group">
            <label for="priority">Priority</label>
            <select th:field="*{taskPriority}">
                <option th:each="priority: ${taskPriorities}" th:value="${taskPriority}" th:text="${taskPriority}">LOW</option>
            </select>
        </div>

        <div class="form-group">
            <label for="category">Categories</label>
                <select th:field="*{listCategories}" id="categoryId">
                <option th:each="category: ${categoriesLIst}" th:value="${categoryEntity.categoryId}" th:text="${categoryEntity.categoryTitle}"></option>
            </select>
        </div>

        <div class="action-center">
            <button type="submit" class="btn">O Save Changes</button>
            <a href="/taskTemplate/listTasks" class="btn btn-secondary">✕ Cancel</a>
        </div>
    </form>
</div>
</body>
</html>
