<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    <link rel="stylesheet" th:href="@{/styleListTask.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Tasks Registered</h1>
        <div class="card mb-4">
        <div class="card-header">
            <h3>Filters</h3>
        </div>
        <div class="card-container">
            <form th:action="@{/templates/listTasks}" method="get">
                <div class="row">
                    <div class="col-12">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="title" id="title"
                            th:value="${title}" placeholder="Search for title">

                            <label for="priority" class="form-label">Priority</label>
                            <select type="field" class="form-control" name="priority" id="priority">
                                <option value="">ALL</option>
                                <option th:each="p : ${priorities}" th:value="${p}" th:text="${p}"
                                    th:selected="${p == priority}">
                                </option>
                            </select>

                            <label for="status" class="form-label">Status</label>
                            <select type="field" class="form-control" name="status" id="status">
                                <option value="">ALL</option>
                                <option th:each="s : ${statusList}" th:value="${s}" th:text="${s}"
                                    th:selected="${s == statusList}">
                                </option>
                            </select>

                            <label for="responsible" class="form-label">Responsible</label>
                            <input type="text" class="form-control" name="responsible" id="responsible"
                                th:value="${responsible}" th:text="${responsible}" th:selected="${s == statusList}">
                                

                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-search"></i>Search
                        </button>


                    </div>
                    <div class="col-12">
                        <button class="btn btn-danger">
                            <i class="bi bi-x-circle"></i>Erase
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

        <ul class="task-list">
            <li th:each="task : ${listTasks}" class="task-card">
                <h2 th:text="${task.title}">Task Title</h2>
                <p><strong>Description:</strong> <span th:text="${task.desc}">Description</span></p>
                <p><strong>Responsible:</strong> <span th:text="${task.responsible}">Responsible</span></p>
                <p><strong>Created:</strong> <span th:text="${task.creationDate}">Date</span></p>
                <p><strong>Status:</strong> <span th:text="${task.status}">Status</span></p>
                <p><strong>Priority:</strong> <span th:text="${task.priority}">Priority</span></p>
                <p><strong>Category:</strong> <span th:each="cat : ${task.categories}" th:text="${cat.name}"></span></p>

                <div class="task-actions">
                    <a th:href="@{'/templates/' + ${task.id} + '/edit'}" class="btn btn-secondary">O Edit</a>
                    <form th:action="@{'/templates/' + ${task.id} + '/delete'}" method="post" class="delete-form">
                        <button type="submit" class="btn btn-danger">X Delete</button>
                    </form>
                </div>
            </li>
        </ul>
        <div class="action-center">
            <a href="/templates/addTask" class="btn btn-primary">+ New Task</a>
            <a href="/templatesCategory/listCategory" class="btn btn-primary">= Categories</a>
        </div>
    </div>
<scriptsrc="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>